<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <!--Fonts for css-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    <!--favicon Icon-->
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.ico"/>
    <!--Discord buttons-->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.4/css/all.css'>

    
    <title>PowerRP</title>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md navbar-custom">
      <a class="navbar-brand font mx-auto" href="#">
      <img src="/img/POWERRP-removebg-preview.png" width="60" height="60" alt="" loading="lazy">
     
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              information
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="rules">Rules</a>
              <a class="dropdown-item" href="#">How to play</a>            
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.patreon.com/PowerRPdonate" target="_blank">Support PowerRP</a>
          </li>
          <li class="nav-item">
            <a id="discord-btn" class="btn btn-primary" href=" https://discord.gg/zGj8GJSCH6" target="_blank" role="button">
              <img src="img/Discord.png" width="30" heigth="30" /> <br>Discord Server</a>
          </li>
         
        </ul>
      </div>
    </nav>