<%- include('partials/header'); -%>
<section class="jumbotron text-center">
    <div class="container">
    </div>
  </section>
  <div class="style">
  </div>
  <div class="album py-5 bg-light">
    <div class="container-sm">
    <div class="card style-about">
        <div class="card-header">
          About us
        </div>
        <div class="card-body">
          <h5 class="card-title sub-head">What is PowerRP?</h5>
          <p class="card-text site-text">Power RP is an established roleplay community that was founded on the 1st of February 2020 with two highly motivated developers who aimed to bring a realistic, ethical and enjoyable roleplay experience to the FiveM community. After initially starting off as a small project, Power RP has expanded far past this and continues to bring new, improved features to enhance the roleplaying experience along with features and updates the community requests and voices for.

            Power RP aims to allow each player to create a virtual life where they can create a character who they always managed to be and live their wildest dreams, in simpler terms we try to keep everything within the limits of how your real life would be but in the limits of the Los Santos and the Grand Theft Auto world. The Power RP team is always active and looking for new features and ideas that we know the Power RP community will love.</p>
        </div>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-16by9">
          <video width="560" height="315" controls>
            <source src="video/Power RP Trailer.mp4" type=video/mp4>
          </video>
        </div>
      </div>
      <div class="card mb-3">
        <img src="img/Server Goals.png" class="card-img-top img-fluid" alt="...">

        <div class="card-body">
          <div class="site-text">
            As we progress into 2021, one of our main goals is to of course get up to a moderate amount of active players at all times. Another goal of ours is to continue development and bring custom and unique features to our community.
            
          </div>
          <ul>
              <div class="site-text">
              <br><p class="sub-head">Some other goals include:</p>
              <li>Revised businesses that allow full interaction</li>
              <li>Revised looting system</li>
              <li>Revised inventory/crafting system</li>
              <li>Revised player abilities and attribute/leveling system</li>
              <li>An improved drug system with never before seen drugs</li>
              <li>Pets</li>
              <li>Expanding our community</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="card mb-3">
        <img src="img/What we have to offer banner.png" class="card-img-top img-fluid" alt="...">

        <div class="card-body">
          <ul>
              <div class="site-text">
              <br><p class="sub-head">Main Features:</p>
              <li>Active Staff and Community</li>
              <li>Live Anywhere With Custom Interiors</li>
              <li>Realistic Economy With Reasonable Prices (US Based)</li>
              <li>Anti-cheat Detection Software</li>
              <li>Vigorous Drug System</li>
              <li>Numerous Ways to Make Money Asided From Whitelist</li>
              <li>Realistic Vehicle Handling</li>
              <li>Highly And Organized Trained Whitelist Services</li>
              <li>Custom Clothing and Uniforms</li>
              <li>Custom Vehicles Fully Customizable And Finacing Options</li>
              <li>Purchasable Aircraft's</li>
              <li> Multi-Characters Allowing Each Player TO live up to 4 Lives!</li>
            </div>
          </ul>
          <ul>
            <div class="site-text">
            <br><p class="sub-head">Whitelist Jobs:</p>
            <li>Gang's</li>
            <li> Dynasty 8</li>
            <li>Weazel News (Coming Soon)</li>
            <li>Vanilla Unicorn (Coming Soon)</li>
            <li>Premium Deluxe Mototsport (Car Dealer)</li>
            <li>Los Santos Police Department (LSPD)</li>
            <li>Emergency Medical Services And Fire (EMS/Fire Services)</li>
            <li>San Andreas Public Defender's Office (Lawyers) (Coming Soon)</li>
            <li>Los Santos Transportation Department(Taxi/Uber/Lime/Local Bus Driver)(Coming Soon)</li>
            <li>Benny's Motorworks And Customs (Mechanics/ Vehicle Modifications)</li>
          </div>
          </ul>
          <ul>
            <div class="site-text">
            <br><p class="sub-head">Passive Jobs:</p>
            <li>Dock Worker</li>
            <li>Miner</li>
            <li>Taco Delivery Driver</li>
            <li>City Works</li>
            <li>Deliverer</li>
            <li>Garbage Man</li>
            <li>Go Postal</li>
            <li>Truck Drivers</li>
          </div>
        </ul>
        </div>
      </div>
    </div>


<%- include('partials/footer'); -%>