<%- include('partials/header'); -%>
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
      </div>
    </section>
    <div class="style">
      <h1>What does PowerRP have to offer?</h1>
      <p>Main Features</p>
    </div>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="img/IMG_6305.webp" class="card-img-top" alt="card image cap">
              <div class="card-body">
                  <h5 class="card-title">Always building off of community feedback </h5>
                <p class="card-text">Got some feedback for us? We always listen to the community. With numerous suggestions daily, PowerRP developers build off what the community wants, and we appreciate our wonderful community for their ideas!
                </p>
                <div class="d-flex justify-content-between align-items-center"> 
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6308.jpg">
              <div class="card-body">
                <h5 class="card-title">Talented developers updating daily</h5>
                <p class="card-text">PowerRP developers provide server updates on a daily basis to keep players satisfied. These updates are implemented regularly just for PowerRP to ensure that our community stays up to date and entertaining.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6312.png">
              <div class="card-body">
                  <h5 class="card-title">Community like no other</h5>
                <p class="card-text">No place like home over here at PowerRP! PowerRP is a well established, friendly and non toxic community, with open arms to all players from all over, with all types of roleplay backgrounds and experience! </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6314.png">
              <div class="card-body">
                <h5 class="card-title">High Powered Anti Cheat Software</h5>
                <p class="card-text">Cheaters never win, well at least with us. PowerRP provides powerful anti cheat detection software that monitors the server and detects cheaters with 24/7 365 day monitoring software that allows us to keep the player experience smooth at all times. PowerRP will not let you down.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6309.jpeg">
              <div class="card-body">
                <h5 class="card-title">Custom properties allowing you to live everywhere</h5>
                <p class="card-text">PowerRP provides a dynamic property system allowing all of our players to live anywhere they please. Our real estate agents at Dynasty 8 are always on call and ready at all times to find you the home you’ve always dreamt of.1q </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6313.jpeg">
              <div class="card-body">
                <h5 class="card-title">High Server Performance</h5>
                <p class="card-text">Sick of laggy, error filled  servers? That doesn’t happen with us. Performance is one of our top priority’s, making sure our servers are running as trouble-free as possible with schedules restarts that clean up our server to maintain the best performance settings.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6319.jpeg">
              <div class="card-body">
                <h5 class="card-title">Professional and interactive whitelist jobs</h5>
                <p class="card-text">PowerRP has a bundle of whitelist jobs to chose from. Increase your experience by choosing from a wide range of whitelist jobs, make new friends, progress through the ranks, make a great salary and so many more features that you gotta find out!</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6315.webp">
              <div class="card-body">
                <h5 class="card-title">Over 150 Imported vehicles </h5>
                <p class="card-text">PowerRP has real time imports with realistic features from handling, working mirrors, custom liveries and more. PowerRP has a great team designated specifically to making sure our vehicles are provided with realistic features that you can own. </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6310.jpeg">
              <div class="card-body">
                <h5 class="card-title">Custom robbery scripts</h5>
                <p class="card-text">PowerRP developers wanted to design a new immersive way to take robberies to the next level. We love designing never before seen mini games changing the whole dynamics of the average robbery to a whole different level.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6318.jpeg">
              <div class="card-body">
                <h5 class="card-title">An extensive drug system </h5>
                <p class="card-text">PowerRP allows in depth methods of interacting with numerous drugs that allow players to make money in all types of forms and methods. Say goodbye to the generic oxy runs and experience what we have designed just for our players. </p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/IMG_6307.webp">
              <div class="card-body">
                <h5 class="card-title">Customized map features and never before seen details</h5>
                <p class="card-text">The little details is what really brings out the uniqueness of our server. Whether it’s custom interiors, houses, hang out spots this gives players more places to interact with each other.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" alt="card image cap" src="img/p1_2458746_b1fb5564.jpg">
              <div class="card-body">
                <h5 class="card-title"> Support Power RP TAB for HOME PAGE </h5>
                <p class="card-text">Wanna support PowerRP & its development? Supporting benefits the server, yourself and the community all around!  Supporting the server helps us with Dedicated Server Cost, Improvements to Enhance Roleplay Experience, Improve Server Performance and much more! You are also rewarded in game benefits for your contribution towards our project!</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
<%- include('partials/footer'); -%>
