<%- include('partials/header'); -%>
<section class="jumbotron text-center">
    <div class="container">
    </div>
  </section>
  <div class="style">
  </div>
  <div class="album py-5 bg-light">
    <div class="container-sm">
        <div class="card style-about">
            <div class="card-header">
              Key Binds
            </div>
            <iframe width=100% height="1000px" src="https://docs.google.com/document/d/e/2PACX-1vQSgp1q_-jwYNDWu55-HP6FVuLFFcZ4Lz3_qVZmI3RGn4A-iKmsU5nEOk9zPdMv2BLQmvxoWYfmclbj/pub?embedded=true"></iframe>
          </div>
    </div>
    </div>

<%- include('partials/footer'); -%>