<%- include('partials/header'); -%>
<section class="jumbotron text-center">
    <div class="container">
    </div>
  </section>
  <div class="style">
  </div>
  <div class="album py-5 bg-light">
    <div class="container-sm">
        <div class="card style-about">
            <div class="card-header">
              Rules
            </div>
            <div class="card-body">
              <h5 class="card-title sub-head">Server Rules And Regulations</h5>
              <div class="card-body">
                <ul>
                    <div class="site-text">
                    <p class="sub-head">General Rules</p>
                    <li>Revised businesses that allow full interaction</li>
                    <li>Revised looting system</li>
                    <li>Revised inventory/crafting system</li>
                    <li>Revised player abilities and attribute/leveling system</li>
                    <li>An improved drug system with never before seen drugs</li>
                    <li>Pets</li>
                    <li>Expanding our community</li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
    </div>

<%- include('partials/footer'); -%>